# **CS412 - Machine Learning - 2022**
## Assignment #2
100 pts


## Goal

The goal of this homework is two-fold:

*   Gain experience with neural network approaches
*   Gain experience with the Keras library

## Dataset
You are going to use a house price dataset that we prepared for you, that contains four independent variables (predictors) and one target variable. The task is predicting the target variable (house price) from the predictors (house attributes).


Download the data from SuCourse. Reserve 10% of the training data for validation and use the rest for development (learning your models). The official test data we provide (1,200 samples) should only be used for testing at the end, and not model selection.

## Task 
Build a regressor with a neural network that has only one hidden layer, using the Keras library function calls to predict house prices in the provided dataset.

Your code should follow the given skeleton and try the indicated parameters.

## Preprocessing and Meta-parameters
You should try 10,50 and 100 as hidden node count. 

You should  decide on the learning rate (step size), you can try values such as 0.001, 0.01, 0.1, but you may need to increase if learning is very slow or decrease if you see the loss increase!

You can use either sigmoid or Relu activations for the hidden nodes (indicate with your results) and you should know what to use for the activation for the output layer, input, output layer sizes, and the suitable loss function. 

## Software: 

Keras is a library that we will use especially for deep learning, but also with basic neural network functionality of course.

You may find the necessary function references here: 

http://scikit-learn.org/stable/supervised_learning.html
https://keras.io/api/

When you search for Dense for instance, you should find the relevant function and explained parameters, easily.

## Submission: 

Fill this notebook. Write the report section at the end.

You should prepare a separate pdf document as your homework (name hw2-CS412-yourname.pdf) which consists of the report (Part 8) of the notebook for easy viewing -and- include a link to your notebook from within the pdf report (make sure to include the link obtained from the #share link on top right, **be sure to share with Sabancı University first** as otherwise there will be access problems.). Also, do not forget to add your answers for Questions 2 and 3 on the assignment document.

##1) Initialize

*   First make a copy of the notebook given to you as a starter.

*   Make sure you choose Connect form upper right.

## 2) Load training dataset

* Load the datasets (train.csv, test.csv) provided on SuCourse on your Google drive and read the datasets using Google Drive's mount functions. 
You may find the necessary functions here: 
https://colab.research.google.com/notebooks/io.ipynb

In [1]:
from google.colab import drive
drive.mount('/content/drive/') 
# click on the url that pops up and give the necessary authorizations

Mounted at /content/drive/



*   Set your notebooks working directory to the path where the datasets are uploaded (cd is the linux command for change directory) 
*   You may need to use cd drive/MyDrive depending on your path to the datasets on Google Drive. (don't comment the code in the cells when using linux commands)

In [2]:
cd drive/My\ Drive

/content/drive/My Drive

* List the files in the current directory.

In [55]:
ls

 20200401_003933.mp4   CS412-Project-Files@      'ORG301 GROUP12'/
'Colab Notebooks'/    'Kafile Listesi.gsheet'     test.csv
 cs412-Ass2/          'Kız takımı ceket.gsheet'   train.csv

##3) Understanding the dataset (5 pts)

There are alot of functions that can be used to know more about this dataset

- What is the shape of the training set (num of samples X number of attributes) **[shape function can be used]**

- Display attribute names **[columns function can be used]**

- Display the first 5 rows from training dataset **[head or sample functions can be used]**

..

In [221]:
# import the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train_df = pd.read_csv("train.csv")
# show first 10 elements of the training data
train_df.head(10)

   sqmtrs  nrooms   view crime_rate          price
0     251       5   west        low  925701.721399
1     211       3   west       high  622237.482636
2     128       5   east        low  694998.182376
3     178       3   east       high  564689.015926
4     231       3   west        low  811222.970379
5     253       5  north       high  766250.032506
6     101       1  north        low  512749.401548
7     242       1  north       high  637010.760148
8     174       5   west       high  638136.374869
9     328       2  south       high  787704.988273

In [222]:
# print shape
ATT = train_df.columns
# Let's print the shape of the dataframe to see how many rows and columns are there
ATT2 = train_df.shape
print('Data Dimensionality: ', "\n", "\n" , " Label of Columns =  ", ATT , "\n", "\n" , " Number of Rows and Columns = " , ATT2, "\n")

# also give some statistics about the data like mean, standard deviation etc.

print("Mean height:","\n",train_df.mean(),"\n")
print("Standard deviation:","\n",train_df.std(),"\n")
print("Minimum height:","\n", train_df.min(),"\n")
print("Maximum height:","\n", train_df.max(),"\n")

Data Dimensionality:

  Label of Columns =   Index(['sqmtrs', 'nrooms', 'view', 'crime_rate', 'price'], dtype='object')

  Number of Rows and Columns =  (4800, 5)

Mean height:
 sqmtrs       225.033542
nrooms         2.983958
price     725756.960758
dtype: float64

Standard deviation:
 sqmtrs        71.851436
nrooms         1.421251
price     151041.121658
dtype: float64

Minimum height:
 sqmtrs                  100
nrooms                    1
view                   east
crime_rate             high
price         356498.515306
dtype: object

Maximum height:
 sqmtrs                   349
nrooms                     5
view                    west
crime_rate               low
price         1076066.719863
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  # Remove the CWD from sys.path while we load stuff.

##4) Preprocessing Steps (10 pts)

As some of the features (predictive variables) on this dataset are categorical (non-numeric) you need to do some preprocessing for those features.

You can use as many **dummy or indicator variables** as there are categories within one feature. You can also look at pandas' get_dummies or keras.utils.to_categorical functions.

In neural networks, scaling of the features are important, because they affect the net input of a neuron as a whole. You should use **MinMax scaler** on sklearn for this task, which scales the variables between 0 and 1 on by default. (Remember that mean-squared error loss function tends to be extremely large with unscaled features.)

In [223]:
# encode the categorical variables

# scale the features between 0-1
from sklearn.preprocessing import MinMaxScaler
msc = MinMaxScaler() 

print("Scale the features between 0-1:","\n",)
train_df1 = pd.get_dummies(train_df, columns = ['crime_rate'])
train_df2 = pd.get_dummies(train_df1, columns = ['view'])
train_df2

Scale the features between 0-1:

,sqmtrs,nrooms,price,crime_rate_high,crime_rate_low,view_east,view_north,view_south,view_west
0,251,5,925701.721399,0,1,0,0,0,1
1,211,3,622237.482636,1,0,0,0,0,1
2,128,5,694998.182376,0,1,1,0,0,0
3,178,3,564689.015926,1,0,1,0,0,0
4,231,3,811222.970379,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...
4795,231,5,886024.190216,0,1,1,0,0,0
4796,229,2,781430.834086,0,1,1,0,0,0
4797,334,2,786639.104497,1,0,0,0,0,1
4798,332,2,778546.285214,1,0,0,1,0,0
4799,244,4,867039.582695,0,1,1,0,0,0

In [224]:
train_df2[["sqmtrs", "nrooms","price"]] = msc.fit_transform(train_df2[["sqmtrs", "nrooms","price"]])
train_df2

,sqmtrs,nrooms,price,crime_rate_high,crime_rate_low,view_east,view_north,view_south,view_west
0,0.606426,1.00,0.791034,0,1,0,0,0,1
1,0.445783,0.50,0.369303,1,0,0,0,0,1
2,0.112450,1.00,0.470421,0,1,1,0,0,0
3,0.313253,0.50,0.289327,1,0,1,0,0,0
4,0.526104,0.50,0.631941,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...
4795,0.526104,1.00,0.735894,0,1,1,0,0,0
4796,0.518072,0.25,0.590538,0,1,1,0,0,0
4797,0.939759,0.25,0.597776,1,0,0,0,0,1
4798,0.931727,0.25,0.586529,1,0,0,1,0,0
4799,0.578313,0.75,0.709510,0,1,1,0,0,0

Don't forget the split the training data to obtain a validation set. **Use random_state=42**

In [225]:
# split 90-10

# Define X:
X = train_df2[['sqmtrs', 'nrooms']]
# Define y:
y = train_df2['price']

from sklearn.model_selection import train_test_split
# Split 90-10
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

##5) Train neural networks on development data and do model selection using the validation data (55 pts)


* Train a neural network with **one hidden layer** (try 3 different values for the number of neurons in that hidden layer, as 25, 50, 100), you will need to correctly choose the optimizer and the loss function that this model will train with. Use batch_size as 64 and train each model for 30 epochs. 

* Train another neural network with two hidden layers with meta-parameters of your choice. Again, use batch_size as 64 and train the model for 30 epochs. 

* **Bonus (5 pts)** Train a KNN or a Decision Tree model with your own choice of meta parameters to predict the house prices.

In [226]:
# define your model architecture
import keras
import keras.utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from sklearn.model_selection import train_test_split
from keras.datasets import mnist
from sklearn.utils import shuffle

histories=[]

model1 = Sequential()
model1.add(Flatten())

# train one-hidden layered neural networks
model1.add(Dense(25, activation='relu', input_shape=(X_train.shape[1],), name='hidden_1'))

In [227]:
# compile your model with an optimizer
model1.compile(loss='mean_squared_error', optimizer="adam")

In [228]:
# fit the model on training data
history1 = model1.fit(X_train, y_train, batch_size=64, epochs=30, validation_split = 0.1, verbose=1)
histories.append(history1)

Epoch 1/30
61/61 [==============================] - 1s 4ms/step - loss: 0.2034 - val_loss: 0.1722
Epoch 2/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1479 - val_loss: 0.1235
Epoch 3/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1100 - val_loss: 0.0971
Epoch 4/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0911 - val_loss: 0.0849
Epoch 5/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0827 - val_loss: 0.0797
Epoch 6/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0790 - val_loss: 0.0774
Epoch 7/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0773 - val_loss: 0.0762
Epoch 8/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0763 - val_loss: 0.0754
Epoch 9/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0756 - val_loss: 0.0748
Epoch 10/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0750 - val_loss: 0.0742
Epoch 11/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0745 - val_loss: 0.0737
Epoch 12/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0740 - val_loss: 0.0732
Epoch 13/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0736 - val_loss: 0.0728
Epoch 14/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0733 - val_loss: 0.0725
Epoch 15/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0729 - val_loss: 0.0722
Epoch 16/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0727 - val_loss: 0.0719
Epoch 17/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0724 - val_loss: 0.0717
Epoch 18/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0722 - val_loss: 0.0715
Epoch 19/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0720 - val_loss: 0.0713
Epoch 20/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0718 - val_loss: 0.0711
Epoch 21/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0717 - val_loss: 0.0710
Epoch 22/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0716 - val_loss: 0.0708
Epoch 23/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0714 - val_loss: 0.0707
Epoch 24/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0713 - val_loss: 0.0706
Epoch 25/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0713 - val_loss: 0.0706
Epoch 26/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0712 - val_loss: 0.0705
Epoch 27/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0711 - val_loss: 0.0704
Epoch 28/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0711 - val_loss: 0.0704
Epoch 29/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0710 - val_loss: 0.0703
Epoch 30/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0710 - val_loss: 0.0703

In [229]:
score1 = model1.evaluate(X_test, y_test, verbose=0)
print('Validation loss:', score1)

Validation loss: 0.06996377557516098

In [230]:
model2 = Sequential()
model2.add(Flatten())
# train a two-hidden layered neural network
model2.add(Dense(50, activation='relu', input_shape=(X_train.shape[1],), name='hidden_2'))

# compile your model with an optimizer
model2.compile(loss='mean_squared_error', optimizer="adam")

# fit the model on training data
history2 = model2.fit(X_train, y_train, batch_size=64, epochs=30, validation_split = 0.1, verbose=1)
histories.append(history2)

Epoch 1/30
61/61 [==============================] - 1s 4ms/step - loss: 0.2259 - val_loss: 0.1963
Epoch 2/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1721 - val_loss: 0.1477
Epoch 3/30
61/61 [==============================] - 0s 3ms/step - loss: 0.1346 - val_loss: 0.1225
Epoch 4/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1170 - val_loss: 0.1114
Epoch 5/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1092 - val_loss: 0.1066
Epoch 6/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1057 - val_loss: 0.1042
Epoch 7/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1039 - val_loss: 0.1028
Epoch 8/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1026 - val_loss: 0.1017
Epoch 9/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1017 - val_loss: 0.1008
Epoch 10/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1008 - val_loss: 0.0999
Epoch 11/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1000 - val_loss: 0.0991
Epoch 12/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0993 - val_loss: 0.0984
Epoch 13/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0987 - val_loss: 0.0978
Epoch 14/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0982 - val_loss: 0.0973
Epoch 15/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0977 - val_loss: 0.0968
Epoch 16/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0973 - val_loss: 0.0964
Epoch 17/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0969 - val_loss: 0.0960
Epoch 18/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0966 - val_loss: 0.0957
Epoch 19/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0963 - val_loss: 0.0954
Epoch 20/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0961 - val_loss: 0.0952
Epoch 21/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0959 - val_loss: 0.0950
Epoch 22/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0957 - val_loss: 0.0948
Epoch 23/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0955 - val_loss: 0.0946
Epoch 24/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0954 - val_loss: 0.0945
Epoch 25/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0952 - val_loss: 0.0944
Epoch 26/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0951 - val_loss: 0.0943
Epoch 27/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0950 - val_loss: 0.0942
Epoch 28/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0950 - val_loss: 0.0941
Epoch 29/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0949 - val_loss: 0.0940
Epoch 30/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0948 - val_loss: 0.0940

In [231]:
score2 = model2.evaluate(X_test, y_test, verbose=0)
print('Validation loss:', score2)

Validation loss: 0.09339671581983566

In [232]:
model3 = Sequential()
model3.add(Flatten())
# train a three-hidden layered neural network
model3.add(Dense(100, activation='relu', input_shape=(X_train.shape[1],), name='hidden_3'))

# compile your model with an optimizer
model3.compile(loss='mean_squared_error', optimizer="adam")

# fit the model on training data
history3 = model3.fit(X_train, y_train, batch_size=64, epochs=30, validation_split = 0.1, verbose=1)
histories.append(history3)

Epoch 1/30
61/61 [==============================] - 1s 4ms/step - loss: 0.2185 - val_loss: 0.1823
Epoch 2/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1555 - val_loss: 0.1303
Epoch 3/30
61/61 [==============================] - 0s 2ms/step - loss: 0.1171 - val_loss: 0.1044
Epoch 4/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0984 - val_loss: 0.0923
Epoch 5/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0899 - val_loss: 0.0870
Epoch 6/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0861 - val_loss: 0.0846
Epoch 7/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0843 - val_loss: 0.0833
Epoch 8/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0832 - val_loss: 0.0825
Epoch 9/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0825 - val_loss: 0.0818
Epoch 10/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0818 - val_loss: 0.0811
Epoch 11/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0812 - val_loss: 0.0806
Epoch 12/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0807 - val_loss: 0.0800
Epoch 13/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0802 - val_loss: 0.0795
Epoch 14/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0798 - val_loss: 0.0791
Epoch 15/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0794 - val_loss: 0.0787
Epoch 16/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0791 - val_loss: 0.0784
Epoch 17/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0788 - val_loss: 0.0781
Epoch 18/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0785 - val_loss: 0.0778
Epoch 19/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0783 - val_loss: 0.0776
Epoch 20/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0781 - val_loss: 0.0774
Epoch 21/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0779 - val_loss: 0.0772
Epoch 22/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0777 - val_loss: 0.0770
Epoch 23/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0776 - val_loss: 0.0769
Epoch 24/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0775 - val_loss: 0.0767
Epoch 25/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0774 - val_loss: 0.0766
Epoch 26/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0773 - val_loss: 0.0765
Epoch 27/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0772 - val_loss: 0.0765
Epoch 28/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0771 - val_loss: 0.0764
Epoch 29/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0770 - val_loss: 0.0763
Epoch 30/30
61/61 [==============================] - 0s 2ms/step - loss: 0.0770 - val_loss: 0.0763

In [233]:
score3 = model3.evaluate(X_test, y_test, verbose=0)
print('Validation loss:', score3)

Validation loss: 0.07595282047986984

In [234]:
model4 = Sequential()
model4.add(Flatten())
model4.add(Dense(512, activation='relu', input_shape=(X_train.shape[1],), name='hidden_1'))
model4.add(Dense(128, activation='relu', name='hidden_2'))
model4.add(Dense(1, name='output_layer'))
# compile your model with an optimizer
model4.compile(loss='mean_squared_error', optimizer="adam")
# fit the model on training data
history4 = model4.fit(X_train, y_train, batch_size=64, epochs=30, validation_split = 0.1, verbose=1)
histories.append(history4)

Epoch 1/30
61/61 [==============================] - 1s 6ms/step - loss: 0.0293 - val_loss: 0.0113
Epoch 2/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0113 - val_loss: 0.0110
Epoch 3/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 4/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0110
Epoch 5/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0108
Epoch 6/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0115
Epoch 7/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0114 - val_loss: 0.0108
Epoch 8/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 9/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0111 - val_loss: 0.0108
Epoch 10/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0111
Epoch 11/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0113 - val_loss: 0.0108
Epoch 12/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0111 - val_loss: 0.0109
Epoch 13/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 14/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0109
Epoch 15/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0110
Epoch 16/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0110
Epoch 17/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0111
Epoch 18/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 19/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0108
Epoch 20/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0113 - val_loss: 0.0110
Epoch 21/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0115
Epoch 22/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0110
Epoch 23/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0111 - val_loss: 0.0110
Epoch 24/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0113 - val_loss: 0.0110
Epoch 25/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.0111
Epoch 26/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0111 - val_loss: 0.0117
Epoch 27/30
61/61 [==============================] - 0s 3ms/step - loss: 0.0113 - val_loss: 0.0109
Epoch 28/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 29/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0116 - val_loss: 0.0114
Epoch 30/30
61/61 [==============================] - 0s 4ms/step - loss: 0.0117 - val_loss: 0.0108

In [235]:
score4 = model4.evaluate(X_test, y_test, verbose=0)
print('Validation loss:', score4)

Validation loss: 0.011072803288698196

## 6) Test your trained classifiers on the Validation set (10 pts)
Test your trained classifiers on the validation set and print the mean squared errors.

In [236]:
# tests on validation
y_pred1 = model1.predict(X_test).sum(axis=1)
y_pred2 = model2.predict(X_test).sum(axis=1)
y_pred3 = model3.predict(X_test).sum(axis=1)
y_pred4 = model4.predict(X_test).sum(axis=1)

from sklearn import metrics
print('MSE is :', metrics.mean_squared_error(y_test, y_pred1)) 

print('MSE is :', metrics.mean_squared_error(y_test, y_pred2)) 

print('MSE is :', metrics.mean_squared_error(y_test, y_pred3)) 

print('MSE is :', metrics.mean_squared_error(y_test, y_pred4))

MSE is : 104.70595696479087
MSE is : 352.97616690968243
MSE is : 1726.5634266933405
MSE is : 0.011072804065702978

## 7) Test your classifier on Test set (10 pts)

- Load test data
- Apply same pre-processing as training data (encoding categorical variables, scaling)
- Predict the labels of testing data **using the best model that you have selected according to your validation results** and report the mean squared error.

In [237]:
# test results
test_df = pd.read_csv("test.csv")
# show first 10 elements of the training data
mock_tf_2 = test_df
y_true = test_df['price'].values
test_df.head(10)

   sqmtrs  nrooms   view crime_rate         price
0     349       3  south       high  8.365535e+05
1     169       1   west       high  5.127416e+05
2     233       3  south       high  6.638806e+05
3     340       4  north        low  1.000086e+06
4     199       2   east        low  7.450151e+05
5     332       1   east       high  7.740171e+05
6     294       3   west        low  9.132634e+05
7     111       3   east        low  5.861116e+05
8     310       5  north        low  1.012929e+06
9     307       4   west        low  9.715327e+05

In [238]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sqmtrs      1200 non-null   int64
 1   nrooms      1200 non-null   int64
 2   view        1200 non-null   object
 3   crime_rate  1200 non-null   object
 4   price       1200 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 47.0+ KB

In [239]:
test_df.shape

(1200, 5)

In [240]:
test_df.describe()

           sqmtrs       nrooms         price
count  1200.00000  1200.000000  1.200000e+03
mean    221.74750     2.953333  7.187189e+05
std      72.21276     1.421093  1.487926e+05
min     100.00000     1.000000  3.520350e+05
25%     157.00000     2.000000  6.096484e+05
50%     221.00000     3.000000  7.199155e+05
75%     283.00000     4.000000  8.351417e+05
max     349.00000     5.000000  1.053787e+06

In [241]:
test1_df = pd.get_dummies(test_df, columns = ['crime_rate'])
test2_df = pd.get_dummies(test1_df, columns = ['view'])
test2_df

,sqmtrs,nrooms,price,crime_rate_high,crime_rate_low,view_east,view_north,view_south,view_west
0,349,3,8.365535e+05,1,0,0,0,1,0
1,169,1,5.127416e+05,1,0,0,0,0,1
2,233,3,6.638806e+05,1,0,0,0,1,0
3,340,4,1.000086e+06,0,1,0,1,0,0
4,199,2,7.450151e+05,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...
1195,213,5,7.081836e+05,1,0,0,0,0,1
1196,136,1,5.940682e+05,0,1,1,0,0,0
1197,130,3,6.271434e+05,0,1,0,0,1,0
1198,291,3,7.596893e+05,1,0,0,0,1,0
1199,333,2,9.331981e+05,0,1,0,0,0,1

In [242]:
test2_df[["sqmtrs", "nrooms","price"]] = msc.fit_transform(test2_df[["sqmtrs", "nrooms","price"]])
test2_df

,sqmtrs,nrooms,price,crime_rate_high,crime_rate_low,view_east,view_north,view_south,view_west
0,1.000000,0.50,0.690441,1,0,0,0,1,0
1,0.277108,0.00,0.229008,1,0,0,0,0,1
2,0.534137,0.50,0.444381,1,0,0,0,1,0
3,0.963855,0.75,0.923476,0,1,0,1,0,0
4,0.397590,0.25,0.559998,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...
1195,0.453815,1.00,0.507513,1,0,0,0,0,1
1196,0.144578,0.00,0.344898,0,1,1,0,0,0
1197,0.120482,0.50,0.392031,0,1,0,0,1,0
1198,0.767068,0.50,0.580909,1,0,0,0,1,0
1199,0.935743,0.25,0.828160,0,1,0,0,0,1

In [244]:
X = test2_df[['sqmtrs', 'nrooms']]

y = test2_df['price']

In [247]:
y_pred5 = model4.predict(X)
print('MSE:', metrics.mean_squared_error(y, y_pred5))

MSE: 0.011891572990284762

##8) Report Your Results (10 pts)

**Notebook should be RUN:** As training and testing may take a long time, we may just look at your notebook results without running the code again; so make sure **each cell is run**, so outputs are there.

**Report:** Write an **1-2 page summary** of your approach to this problem **as indicated below**. 

**Must include statements such as those below:**
**(Remove the text in parentheses, below, and include your own report)**

( Include the problem definition: 1-2 lines )

 (Talk about train/val/test sets, size and how split. )

 (Talk about feature extraction or preprocessing.)

**Add your observations as follows** (keep the questions for easy grading/context) in the report part of your notebook.

**Observations**

- Try a few learning rates for N=25 hidden neurons,  train for the indicated amount of epochs. Comment on what happens when learning rate is large or small? What is a good number/range for the learning rate?
Your answer here….

- Use that learning rate and vary the number of hidden neurons for the given values and try the indicated number of epochs. Give the validation mean squared errors for different approach and meta-parameters tried **in a table** and state which one you selected as your model. How many hidden neurons give the best model? 
Your answer here….

- State  what your test results are with the chosen approach and meta-parameters: e.g. "We have obtained the best results on the validation set with the ..........approach using a value of ...... for .... parameter. The result of this model on the test data is ..... % accuracy."" 

- How slow is learning? Any other problems?
Your answer here….

- Any other observations (not obligatory)

 You can add additional visualization as separate pages if you want, think of them as appendix, keeping the summary to 1-2-pages.